@page "/counter"

<h2>Please confirm the number of guests</h2>

<p>Number of guests: @currentCount</p>


<label for="exampleInputEmail1">Name</label>
<input type="text" class="form-control">
<br />
<button class="btn btn-primary" @onclick="IncrementCount">Add guests</button>
<button class="btn btn-secondary" @onclick="DecrementCount">Remove guests</button>
<button class="btn btn-info">Confirm</button>

<br />

<div class="container text-center">
    <img src="/image/diner.jpg" class="img-fluid m-4 text-center" width="600" />
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
